:root {
    /* com essa propriedade 1rem = 10px */
    font-size: 62.5%;

    --color-background-light: #ffffff;
    --color-background: #e1e1e2;
    --color-background-dark: #919191;
    --color-primary: #f7d631;
    --color-secundary: #8d7228;
    --color-text-dark: #1e1e1e;
    --color-text-light: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Archivo", sans-serif;
}

html,
body {
    height: 100vh;
}

body {
    background-color: var(--color-background-light);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

#index h1 {
    margin: 1.2rem auto;
}

header,
nav,
img {
    width: 100%;
}

textarea {
    resize: none;
}

.back-to-top {
    background-color: #38322e;
    border-radius: 65px;
    bottom: 14px;
    box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, 0.75);
    color: #d9a000;
    cursor: pointer;
    height: 40px;
    position: fixed;
    right: 22px;
    width: 40px;
    z-index: 3;
}

.back-to-top::after {
    content: "▲";
    display: flex;
    justify-content: center;
    padding-left: 1px;
    padding-top: 1.2rem;
}

header {
    background-color: var(--color-background-light);
}

header img {
    background-color: var(--color-secundary);
}

header input {
    border-radius: 3rem;
    border: 1px solid var(--color-text-dark);
}

header button {
    display: none;
}

nav {
    background-color: var(--color-primary);
}

nav li a {
    color: var(--color-text-light);
}

nav li a:hover {
    color: var(--color-text-dark);
}

#banner {
    border-radius: 1rem;
}

.produtos-destaque {
    background-color: var(--color-background);
}

.produto-destaque {
    width: 85vw;
    margin: 1rem auto;
    background-color: var(--color-background-dark);
}

.produto-container {
    width: 80%;
    margin: auto;
    padding: 2rem 1rem;
}

.produto-desc {
    background-color: var(--color-background);
}

.produto-desc p {
    text-align: justify;
}

#noticias {
    width: 100%;
    background-color: var(--color-background-light);
}

.bloco-noticia {
    background-color: var(--color-secundary);
}

.bloco-noticia h1 {
    color: var(--color-primary);
}

.noticia-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.noticia-body img,
.noticia-body blockquote {
    width: 45%;
}

.noticia-body blockquote {
    color: var(--color-text-light);
    text-align: justify;
}

footer {
    background-color: var(--color-primary);
    text-align: center;
    padding: 1rem;
}

#produtos-servicos .titulo {
    background-color: var(--color-secundary);
    color: var(--color-text-light);
}

#produtos-servicos .bloco-servico {
    background-color: var(--color-secundary);
}

#produtos-servicos .bloco-servico .titulo-servico {
    color: var(--color-primary);
}

#produtos-servicos .bloco-servico blockquote {
    color: var(--color-text-light);
}

#empresa .item-titulo {
    background-color: var(--color-secundary);
    color: var(--color-text-light);
}

#empresa .item blockquote {
    background-color: var(--color-background);
}

#instalacoes .instalacao,
#trabalhos-realizados .trabalho-realizado {
    background-color: var(--color-background);
}

#instalacoes .instalacao .instalacao-body,
#trabalhos-realizados .trabalho-realizado .trabalho-realizado-body {
    background-color: var(--color-secundary);
}

#instalacoes .instalacao-body h1,
#trabalhos-realizados .trabalho-realizado-body h1 {
    color: var(--color-primary);
}

#instalacoes .instalacao-body blockquote,
#trabalhos-realizados .trabalho-realizado-body blockquote {
    color: var(--color-text-light);
}

#contato #form-fale-conosco {
    background-color: var(--color-background-dark);
}

#contato #form-trabalhe-conosco {
    background-color: var(--color-secundary);
}

#contato form h1,
#contato label {
    color: var(--color-primary);
}

#contato form input[type="submit"] {
    background-color: var(--color-primary);
    color: var(--color-text-light);
    border: 1px solid var(--color-background-dark);
    /* Adiciona borda em volta do texto esquerda, cima, direita, baixo */
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}