/* estilos telas médias */
@media (min-width: 700px) {
    header {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 15vh;
    }

    header img {
        width: 30rem;
    }

    .logo {
        height: 100%;
    }

    header input {
        height: 4rem;
        width: 20%;
        text-align: start;
        font-size: 2rem;
    }

    header ::-webkit-input-placeholder {
        font-size: 1.5rem;
        text-align: center;
    }

    header :-ms-input-placeholder {
        font-size: 1.5em;
        text-align: center;
    }

    .sub-header {
        width: 40%;
        display: flex;
        justify-content: space-around;
    }

    .sub-header img {
        width: 40%;
        border-radius: 50%;
        height: 15vh;
    }

    header button {
        display: block;
        padding: 1rem;
        font-size: 1.8rem;
        background-color: var(--color-primary);
        border: 1px solid var(--color-background-dark);
        margin-right: 0.4rem;
        border-radius: 0.8rem;
        color: var(--color-text-light);
        font-weight: bold;
    }

    .menu {
        display: none;
    }

    .menu-show {
        display: flex;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    nav li {
        padding: 0.8rem;
    }

    nav li a {
        font-size: 2.3rem;
        font-weight: bold;
    }

    nav li a:hover {
        color: var(--color-text-dark);
    }

    .produtos-destaque-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .produto-destaque {
        width: 35rem;
    }

    .produto-desc {
        padding: 0.2rem;
        margin-top: 0.8rem;
    }

    .produto-desc p {
        font-size: 1.7rem;
    }

    #noticias {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2rem;
    }

    .bloco-noticia {
        width: 85vw;
    }

    .bloco-noticia:first-child {
        margin-top: 2rem;
    }

    .bloco-noticia:last-child {
        margin-bottom: 2rem;
    }

    .bloco-noticia h1 {
        font-size: 2.5rem;
    }

    .noticia-body {
        padding: 1rem;
    }

    .noticia-body blockquote {
        font-size: 1.8rem;
    }

    #produtos-servicos .titulo {
        margin: 0;
        padding: 1rem;
    }

    #produtos-servicos .produtos-vendidos-container,
    #produtos-servicos .servicos-prestados-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #produtos-servicos .servicos-prestados-container {
        width: 100%;
        gap: 1rem;
        margin: 1rem auto;
    }

    #produtos-servicos .bloco-servico {
        width: 35rem;
        margin: auto;
    }

    #produtos-servicos .bloco-servico blockquote {
        font-size: 1.6rem;
        padding: 1rem;
    }

    #empresa .item {
        margin: 1rem auto;
    }

    #empresa .item:first-child {
        margin: 0 auto;
    }

    #empresa .item-titulo {
        margin: 0;
        padding: 1rem;
        font-size: 2.2rem;
    }

    #empresa .item blockquote {
        font-size: 1.8rem;
        padding: 1rem;
    }

    #empresa cite {
        font-size: 1.6rem;
    }

    #instalacoes main,
    #trabalhos-realizados main {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    #instalacoes .instalacao,
    #trabalhos-realizados .trabalho-realizado {
        width: 100%;
        display: flex;
        padding: 2rem;
        align-items: center;
        justify-content: space-between;
    }

    #instalacoes .instalacao img,
    #instalacoes .instalacao .instalacao-body,
    #trabalhos-realizados .trabalho-realizado img,
    #trabalhos-realizados .trabalho-realizado .trabalho-realizado-body {
        width: 45vw;
        height: 22rem;
    }

    #instalacoes .instalacao .instalacao-body,
    #trabalhos-realizados .trabalho-realizado .trabalho-realizado-body {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: start;
    }

    #instalacoes .instalacao-body h1,
    #trabalhos-realizados .trabalho-realizado-body h1 {
        font-size: 2.5rem;
    }

    #instalacoes .instalacao-body blockquote,
    #trabalhos-realizados .trabalho-realizado-body blockquote {
        padding: 0.5rem;
        font-size: 1.7rem;
    }

    #contato main {
        display: flex;
        width: 100%;
        height: 78vh;
        align-items: center;
        justify-content: center;
    }

    #contato form {
        width: 100%;
        height: 100%;
    }

    #contato form h1 {
        font-size: 2.4rem;
    }

    #contato .form-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        margin: 2rem auto;
    }

    #contato .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
        width: 70%;
    }

    #contato .input-wrapper label {
        text-align: center;
        font-size: 1.8rem;
        font-weight: bold;
    }

    #contato .input-wrapper input,
    #contato .input-wrapper textarea {
        border-radius: 1rem;
        border: 1px solid #000;
        padding: 0.6rem;
    }

    #contato .input-wrapper textarea {
        height: 9rem;
    }

    #contato form input[type="submit"] {
        width: 7rem;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
    }
}