/* estilos telas pequenas */
@media (max-width: 425px) {
    header {
        display: flex;
        flex-direction: column;
    }

    header img {
        width: 100%;
    }

    header input {
        margin: 2rem auto;
        padding: 1rem;
    }

    .sub-header {
        display: flex;
        justify-content: space-around;
    }

    .sub-header img {
        width: 12rem;
    }

    .sub-header img:last-child {
        width: 16rem;
    }

    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav li {
        padding: 1rem;
    }

    nav li a {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: center;
        transition: 0.3s;
    }

    #index main {
        padding: 1.2rem;
    }

    .produto-desc p {
        font-size: 1.4rem;
    }

    .bloco-noticia {
        padding: 0.2rem 1rem 1.5rem;
        margin-bottom: 1.5rem;
    }

    .bloco-noticia:last-child {
        margin-bottom: 0;
    }

    #produtos-servicos .titulo {
        margin: 0;
        padding: 1rem;
        width: 100vw;
    }

    #produtos-servicos #servicos-prestados {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    #produtos-servicos .bloco-servico {
        width: 80vw;
        margin-bottom: 1rem;
        padding: 1rem;
    }

    #produtos-servicos .bloco-servico blockquote {
        font-size: 1.5rem;
    }

    #empresa .item {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 1rem auto;
    }

    #empresa .item:first-child {
        margin: 0 auto;
    }

    #empresa .item-titulo {
        width: 100%;
        margin: 0;
    }

    #empresa .item blockquote {
        padding: 1rem;
        font-size: 1.6rem;
    }

    #empresa cite {
        font-size: 1.4rem;
    }

    #instalacoes main,
    #trabalhos-realizados main {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    #instalacoes .instalacao,
    #trabalhos-realizados .trabalho-realizado {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        align-items: center;
        justify-content: center;
    }

    #instalacoes .instalacao .instalacao-body,
    #trabalhos-realizados .trabalho-realizado .trabalho-realizado-body {
        padding: 1rem;
        font-size: 1.5rem;
    }

    #contato main {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #contato form {
        width: 100%;
        margin: 0 auto;
    }

    #contato .form-container {
        width: 85vw;
        margin: 1rem auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.8rem;
    }

    #contato .input-wrapper {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    #contato .input-wrapper label {
        text-align: center;
        font-size: 1.6rem;
        font-weight: bold;
    }

    #contato .input-wrapper input,
    #contato .input-wrapper textarea {
        border-radius: 1rem;
        border: 1px solid #000;
        padding: 0.5rem;
    }

    #contato .input-wrapper textarea {
        height: 8rem;
    }

    #contato form input[type="submit"] {
        width: 7rem;
        font-size: 1.6rem;
        padding: 0.5rem 1rem;
        border-radius: 2rem;
    }
}