/* estilos telas grandes */
@media(min-width: 1024px) {
    header {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        height: 20vh;
        gap: 1rem;
    }

    .logo {
        width: 43rem;
        height: 100%;
    }

    header input {
        width: 30%;
        padding: 1.1rem;
        margin-left: 1rem;
        border: 0.2rem solid var(--color-text-dark);
    }

    .sub-header {
        height: 20vh;
        width: 40%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .sub-header img {
        width: 35%;
        height: 100%;
        border-radius: 0;
    }

    header button {
        display: none;
    }

    nav {
        padding: 0.8rem;
        height: 10vh;
        margin: auto;
    }

    .menu {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    nav ul li {
        font-size: 2.5rem;
        font-weight: bold;
    }

    nav li a {
        transition: 0.5s;
    }

    #index #banner {
        height: 70vh;
        object-fit: cover;
    }

    .produtos-destaque h1 {
        font-size: 6rem;
    }

    .produtos-destaque-container {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .produto-destaque {
        width: 25rem;
    }

    .produto-desc {
        margin-top: 1rem;
        padding: 0.2rem 0.4rem;
    }

    .produto-desc h1 {
        font-size: 2rem;
    }

    .produto-desc p {
        font-size: 1.6rem;
    }

    #noticias {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 0.8rem;
        padding: 2rem;
    }

    .bloco-noticia {
        width: 30rem;
        margin: 0 auto;
    }

    .bloco-noticia:first-child {
        margin-top: 0;
    }

    .bloco-noticia:last-child {
        margin-bottom: 0;
    }

    .bloco-noticia h1 {
        font-size: 3.5rem;
    }

    .noticia-body {
        gap: 2rem;
        padding: 2rem;
    }

    .noticia-body blockquote {
        font-size: 1.5rem;
    }

    #produtos-servicos .titulo {
        font-size: 3rem;
    }

    #produtos-servicos .produtos-vendidos-container,
    #produtos-servicos .servicos-prestados-container {
        grid-template-columns: 1fr 1fr 1fr;
    }

    #produtos-servicos .servicos-prestados-container {
        column-gap: 1rem;
        margin: 2rem auto;
    }

    #produtos-servicos .bloco-servico {
        width: 30rem;
    }

    #produtos-servicos .bloco-servico .titulo-servico {
        font-size: 2.5rem;
    }

    #produtos-servicos .bloco-servico blockquote {
        font-size: 2rem;
        text-align: justify;
    }

    #empresa .item-titulo {
        font-size: 2.3rem;
    }

    #empresa .item blockquote {
        font-size: 2rem;
    }

    #empresa p {
        font-size: 1.8rem;
        padding: 1rem;
    }

    #instalacoes .instalacao img,
    #instalacoes .instalacao .instalacao-body,
    #trabalhos-realizados .trabalho-realizado img,
    #trabalhos-realizados .trabalho-realizado .trabalho-realizado-body {
        height: 30rem;
    }

    #instalacoes .instalacao .instalacao-body,
    #trabalhos-realizados .trabalho-realizado .trabalho-realizado-body {
        padding: 0.4rem;
    }

    #contato form h1 {
        font-size: 2.6rem;
    }

    #contato main {
        height: 80vh;
    }

    #contato .input-wrapper label,
    
    #contato .input-wrapper textarea,
    #contato form input[type="submit"] {
        font-size: 1.9rem;
    }

    #contato .input-wrapper input {
        font-size: 1.7rem;
    }

    #contato form input[type="submit"] {
        width: 10rem;
    }
}